#c1{
    width: 100px;
    height: 100px;
}
td{
    border: 1px solid;
    width: 100px;
}
#c2{
    width: 100px;
    height: 100px;
}
h3{
    font-family: "Briem Hand", cursive;}
h2{
    font-family: "Briem Hand", cursive;
}
p{
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
}